* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0e2439;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.main {
  width: 100%;
  height: 100%;
}

.main h1 {
  text-align: center;
  margin: 40px 50px 30px 50px;
  font-weight: 400;
}

.main .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .form-container form {
  border: 1px solid;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  border-radius: 10px;
}

.main .form-container .form-group {
  display: grid;
  justify-content: start;
  width: 200px;
}

.main .form-container .form-group input {
  border: 1px solid #f1f1f1;
  background-color: #1f364d;
  padding: 2px 5px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  color: #fff;
}

.main .form-container .form-group select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 200px;
  border: none;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
}

.main .form-container button {
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  height: 50px;
  background-image: linear-gradient(to right,#3ec7e0,#526bf4);
}

.main .form-container button:hover {
  background-image: linear-gradient(to right,#526bf4, #3ec7e0);
}

.impact-container, .severeImpact-container {
  margin: 20px;
}

.impact-container h2, .severeImpact-container h2 {
  text-align: center;
  font-weight: 400;
  margin: 30px 0 10px 0;
}

.impact-container table, .severeImpact-container table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.impact-container table th, .severeImpact-container table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1f364d;
  color: white;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.impact-container table td, .severeImpact-container table td {
  font-weight: 300;
}

.impact-container table td, .impact-container table th, .severeImpact-container table td, .severeImpact-container table th {
  border: 1px solid #ddd;
  padding: 5px;
}

@media (max-width: 768px) {
  .main .form-container .form-group {
    width: 100%;
  }

  .main .form-container .form-group input {
    width: 100%;
  }

  .main .form-container .form-group select {
    width: 100%;
  }

  .impact-container, .severeImpact-container {
    margin: 5px;
  }

  .impact-container table th, .severeImpact-container table th {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 300;
    letter-spacing: -0.5px;
    font-size: smaller;
  }
  .impact-container table td, .severeImpact-container table td {
    font-size: smaller;
  }
}
